<html>
    <style> 
    body {
    background: rgba(20, 150, 200);
    color: white;
    }
    </style>
    <head>
        <title>About!!!</title>
    </head>
    <body>
        <h1>Welcome to Emoji Clash, a simple, fun game by Michael Mankaruos where the user chooses one of 17 emojis to battle the computer. Simply scroll through the right emoji well to browse and select your emoji, then click fight, and see if you chose right. When your ready to go again, click restart and have fun!</h1>
        <A href="/">Back to home Page</a>
    </body>
</html>