<html>
    <head>
         <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">

<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">

<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

<link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
        <title>Emoji Clash</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <body>
        <div class = "title">
        <h1>Emoji Clash</h1>
        <p>Welcome {{name}}</p>
        
        <button class = "twoplayer_button">2-Player</button>
        </div>
    </body>
    
    <div class = "label">    
        <button class = "comp_button">Restart</button>
        <div class = "comp_box_label"></div>
        <div class = "player_box_label">Choose 1/17 Emoji</div>
        <div class = "fight_button">Fight</div>
    </div>

    
    <div class = "fightbox">    
        <div class = "comp_well"></div>
        <div class = "comp_box"></div>
        <img id='vsimage' src= "https://static.vecteezy.com/system/resources/previews/013/212/902/non_2x/vs-or-versus-sign-competition-symbol-vector.jpg">
        <div class = "player_box"></div>
        <div class = "player_well"></div>
    </div>
    
    
    <body>
        <A href="/about">About Page</a>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>