body {
    background: rgba(20, 150, 200);
    color: white;

    --clr-button: red;
/*https://www.youtube.com/watch?v=OMzuo7MOS2I  */
}

.title {
    border: 5px solid black;
    display: flex;
    justify-content: space-around;
}


.fightbox {
    border: 5px solid black;
    display: flex;
    justify-content: space-around;
}


.comp_box, .player_box {
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 500px;
    background-color: #cbc5c5;
    color: black;
    font-size: 450px;
    
    text-align: center;
    margin: 20px 10px;
    
    
    border-style:solid;
    border-radius: 10px;
    border-color: black;
    border-width: 5px;
}

#vsimage {
    align-self: center;
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.comp_well, .player_well {
    overflow: scroll;
    /* source: https://developer.mozilla.org/en-US/docs/Web/CSS/overflow */
    width: 110px;
    height: 500px;
    background-color: #cbc5c5;
    color: black;
    font-size: 90px;
    
    
    margin: 20px 10px;
    
    
    border-style:solid;
    border-radius: 10px;
    border-color: black;
    border-width: 5px;
}

.label {
    border: 5px solid black;
    display: flex;
    justify-content: space-around;
}

.comp_box_label, .player_box_label {
    width: 500px;
    height: 50px;
    background-color: #cbc5c5;
    color: black;
    text-align: center;
    font-size: 40px;
    
    margin: 20px 10px;

    border-style:solid;
    border-radius: 10px;
    border-color: black;
    border-width: 5px;
}

.fight_button {
    width: 110px;
    height: 50px;

    background-color: #cbc5c5;
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
    margin: 20px 10px;

    border-style:solid;
    border-radius: 10px;
    border-color: black;
    border-width: 5px;
}

.comp_button {
    width: 110px;
    height: 50px;

    background-color: #cbc5c5;
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
    margin: 20px 10px;

    border-style:solid;
    border-radius: 10px;
    border-color: black;
    border-width: 5px;
}

.twoplayer_button {
    width: 110px;
    height: 50px;

    background-color: var(--clr-button);
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
    margin: 20px 10px;

    border-style:solid;
    border-radius: 10px;
    border-color: black;
    border-width: 5px;   
}
